#P1{
    /* largura da borda */
    border-width: 2px;
    /* cor da borda */
    border-color: aqua;
    /* estilo da borda */
    border-style: inset;
}

img{
    /* largura */
    width: 400px;
    /* Altura */
    height: 400px;
}

figcaption, p{
    color: white;
}

body{
    /* background-color: aquamarine; */
    background-image: url("./Fundo2.avif");
    background-size: 100%;
    /* fixed / Scroll */
    background-attachment: fixed;
}